PORT=5000
JWT_SECRET=your-jwt-secret

DATABASE_URL=postgresql://username:password@host:5432/database_name

FRONTEND_URL=https://your-frontend-domain.vercel.app

# Biometric Settings
ENABLE_BIOMETRIC=true
BIOMETRIC_MASTER_KEY=45731908471928374619283746192837
BIOMETRIC_SYNC_INTERVAL_MS=120000
